﻿@{
    var ingredientsGateau = ViewBag.ingredientsGateau;
    var urlGateau = ViewBag.urlGateau;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <title>@ViewData["Titre"]</title>
</head>
<body>
    <div class="container">
        <h1 class="m-3">@ViewData["Titre"]</h1>

        <div class="row mx-2 mt-4">
            <div class="col-5">
                <img src=@urlGateau class="rounded-5 img-fluid" alt="Image de gâteau original" />
            </div>
            <div class="col-5">
                <h4>Ingrédients:</h4>
                <p>@ingredientsGateau</p>
            </div>
        </div>        
        
        <div class="row mx-2 mt-5">
            <a asp-controller="Gateaux" asp-action="Liste">Retour à la liste de gâteaux</a>
        </div>

    </div>

</body>

</html>
