﻿@model List<Exercice2Images.Models.Gateau>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <title>@ViewData["Titre"]</title>
</head>
<body>
    <div class="container">

        <div class="row mb-2">
            <a asp-controller="Accueil" asp-action="Index">Retour à l'accueil</a>
        </div>

        <h1 class="m-3">@ViewData["Titre"]</h1>
        <div class="row mb-5">
            @foreach (var gateau in Model)
            {
                <div class="card mx-2 mt-2" style="width: 18rem; border-color:sandybrown">
                    <img src=@gateau.UrlImage class="rounded-5 img-fluid card-img-top mt-4" alt="Image de gâteau original">
                    <div class="card-body">
                        <h5 class="card-title">@gateau.Nom</h5>
                        <p class="card-text">@gateau.Description</p>
                        <a class="btn btn-outline-warning" asp-controller="Gateaux" asp-action="DetailsGateau" asp-route-id=@gateau.Id>Voir les ingrédients du gâteau @gateau.Nom</a>
                    </div>
                </div>

            }
        </div>
    </div>

</body>

</html>
